* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f9f9f9;
    color: #333;
  }
  
  header {
    background-color: #005792;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .cta {
    display: inline-block;
    background-color: #005792;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .cta:hover {
    background-color: #003b5c;
  }
  
  #hero {
    background-image: url('https://www.leparisien.fr/resizer/mjLipmB9SBHEjUr9sU06bYBLXRM=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/DJN55OJRJRD7HC7KX67OPE6R5I.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px #000;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
  }
  
  form textarea {
    height: 150px;
  }
  
  form button[type="submit"] {
    background-color: #005792;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
  }
  
  form button[type="submit"]:hover {
    background-color: #003b5c;
  }
  

  #countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
  }
  
  #countdown div {
    text-align: center;
    margin: 0 20px;
  }
  
  #countdown span {
    display: block;
    font-size: 50px;
  }
  
  #countdown .smalltext {
    font-size: 16px;
    font-weight: normal;
  }
  